$primary-color:#143b4b;
$primary-outline-color:#327b8c;
$primary-words-color:#ebebeb;
$secondary-color:#92cad5;
$background-color:#131520;
$border-color:#327b8c;
$gutter-color:#327b8c;
$faded-text-color:#aaaaaa;
$log-icon-color:#090909;
$log-icon-text-color:#ebebeb;
$text-color:#ebebeb;
$box-background-color:#131520;
$box-words-color:#ebebeb;
$secondary-words-color:#aaaaaa;
