 /* BASIC BLU: v2.0 | Best Used with Ares v2.6 */

// CORE CSS (body styling, ansi recolors, etc)

.body-container p {
	margin-bottom: 1em;
}

.body-wrap {
	padding: 0 1rem;
	display: grid;
	grid-template-columns: minmax(75%, 2150px) auto;
}

@media screen and (min-width: 1470px) {
	body {
		font-size: 1em;
	}
}

@media screen and (max-width: 600px) {
	.body-wrap,
	.body-container {
		padding: 0px;
	}
}

.alert {
	padding: 2px;
	text-align: center;
}

.alert-warning {
	text-align: left;
	padding: 10px;
}

.alert p {
	margin: 0!important;
}

a:hover,
a:focus {
	color: $primary-outline-color;
	background-color: transparent;
	font-weight: normal;
}

.btn-link:hover {
	font-weight: normal;
}

.content-warning-label {
    margin: 0px 5px;
    background-color: #e69138;
}

.notification-bell {
	background-color: $box-background-color !important;
}

.tooltip-button {
	background-color: transparent;
}

.tooltip-button:hover,
.tooltip-button > a:hover,
.play-section-title .tooltip-button a:hover,
.play-section-title .tooltip-button:hover {
	background-color: transparent;
	color: $primary-outline-color;
}

.markdown-controls > .tooltip-button:hover,
.markdown-controls > .tooltip-button a:hover {
	color: $primary-color;
}

::-webkit-resizer {
	border: 0;
}

// INPUT

.code-editor {
	color: $faded-text-color;
}

textarea,
input,
.markdown-preview,
.toastui-editor-defaultUI
.ProseMirror,
.toastui-editor-main-container .md-mode > div,
.ember-text-field {
	color: $text-color;
	scrollbar-color: $secondary-color transparent;
	scrollbar-width: thin;
	width: 100%
}

input[type="checkbox"] {
	width: unset;
}

.toastui-editor-mode-switch .tab-item.active {
	background-color: $box-background-color;
	border-color: $box-background-color;
}

.markdown-preview {
	border-top: 8px solid $box-background-color;
}

.ProseMirror {
	padding: 10px!important;
}

.toastui-editor-mode-switch .tab-item {
	border-top: 1px solid $box-background-color;
}

.toastui-editor-mode-switch {
	border-top: 4px solid $box-background-color;
}

.toastui-editor-defaultUI-toolbar {
	background-color: $box-background-color;
}

.toastui-editor-toolbar {
	margin-bottom: -1px;
}

.toastui-editor-main-container {
	border-bottom: 1px solid $box-background-color;
}

.markdown-control-toggle.active {
	background-color: $box-background-color;
}

.toastui-editor-defaultUI-toolbar button:not(:disabled):hover {
	background-color: $primary-outline-color;
	border-color: $primary-color;
}

// FORMS

.form-item {
	border: 0;
}

.form-control[readonly] {
	display: none;
}

// HEADER (top of webportal) and FOOTER

.header-wrap {
	height: 300px;
}

.title-wrap {
	height: 236px;
}

@media screen and (min-width: 1401px) and (max-width: 1471px) {
	.title-wrap {
		height: 240px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
	.title-wrap {
		height: 230px;
	}
}

.site-title {
	font-family: 'Vibur', cursive;
	text-transform: uppercase;
}

.site-subtitle {
	font-family: $primary-font;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.container-fluid > hr:last-of-type {
	display: none;
}

.user-bar {
	padding-right: 0;
	margin-top: 0;
	text-align: right;
}

.user-bar p {
	line-height: 1;
}

@media screen and (max-width: 1400px) {
	.site-title {
		font-size: 3em;
		max-height: unset;
	}
}

@media screen and (max-width: 600px) {
	.site-title {
		border: 0;
		font-size: 3em;
		text-align: center;
	}
	.site-subtitle {
		font-size: 1.2em;
		text-align: center;
	}
	.title-wrap {
		background-color: rgba(0, 0, 0, 0.25)!important;
	}
	.account-actions {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.title-wrap {
		height: 148px!important;
	}
	.header-wrap {
		height: 200px!important;
	}
	.navbar-collapse {
		background-color: $darker-grey!important; 
	}
	.account-actions {
		display: none; 
	}
}

@media (max-width: 1400px) {
	.navbar-collapse {
		background-color: inherit;
	}
}

@media screen and (max-width: 600px) {
	.header-wrap {
		background-position: center bottom;
	}

	.site-banner {
		flex-direction: column;
	}
}

// FRONT PAGE

@media screen and (max-width: 600px) {
	.jumbotron img {
		display: none;
	}
}

// HEADING (h1, h2, etc)

h1, .h1 {
	padding: 0.2em 1.2em 0.1em;
	border: 0;
	margin-top: 10px;
}

@media (max-width: 1190px) {
	h1, .h1 {
        	padding-top: 0.3em!important;
        	font-size: 2em!important
	}
}

@media (max-width: 1400px) {
	h1, .h1 {
        	padding-top: 0.3em!important;
        	font-size: 2.5em!important
	}
}

h2, .h2 {
	padding-bottom: 10px;
	font-family: $secondary-font;
	text-transform: uppercase;
}

h3, .h3 {
	font-family: $primary-font;
	text-transform: uppercase;
	font-size: 2.2em;
}

h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $secondary-font;
	text-transform: uppercase;
}

// TABLE OF CONTENTS

.toc {
	background-color: $primary-color;
	width: 350px;
	border: 0;
	box-shadow: none;
	margin: 15px 0px 15px 15px;
	border-radius: 0px;
	float: right;
}

.toc::after {
	clear: both;
}

.toc h4 {
	font-family: $primary-font;
	font-size: 2em;
}

@media screen and (max-width: 600px) {
	.toc {
		width: 100%;
	}
}

// NAV BAR

.navbar-dark .navbar-nav .nav-link {
	font-family: $primary-font;
	font-size: 1.25em;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
	background-color: transparent;
}

.dropdown-menu {
	background-color: $darker-grey;
	border-top: 4px solid $primary-color;
	font-family: 'Open Sans', sans-serif;
}

.header-wrap nav {
	font-weight: 100;
	font-size: 1.13em;
}

.dropdown-divider {
	background-color: $secondary-color;
}

@media screen and (max-width: 991px) {
	.navbar > .container-fluid {
		width: 100%;
		flex-flow: column;
		align-items: start;
	}
	.navbar-collapse {
		max-width: 320px;
		width: 100%;
	}
	.navbar {
		max-height: 52px;
	}
}

.navbar-dark .navbar-toggler {
	border-color: rgba(255, 255, 255, 0.25);
}

// SIDEBAR

.sidebar-box,
.sidebar-box-right {
	border: 0;
}

.sidebar-heading h2 {
	font-family: $primary-font;
	font-variant: none;
	text-transform: uppercase;
	color: $text-color;
	background: $primary-color;
	font-size: 2em;
	padding: 15px 0px 10px;
	margin-top: 10px;
}

@media screen and (max-width: 1400px) {
	.sidebar {
		min-width: unset;
		width: 100%;
	}
}

// CHARACTER PROFILES

/* Profile Box */

.profile-title {
	display: none;
}

.profile-wrap {
	border: 0;
	border-radius: 0;
	display: grid;
	grid-template-columns: 460px auto;
	gap: 20px;
	justify-content: unset;
	margin-top: 12px;
}

.profile-box {
	background-color: $background-color;
	border-radius: 4px;
	margin: 0 auto;
	width: 100%
}

.profile-image-wrap {
	flex-basis: 40%;
	margin: 0 auto 10px auto;
}

.profile-image {
	width: auto;
	min-width: 300px;
	max-width: 450px;
}

.profile-demographics .profile-item:last-of-type {
	border-bottom: 0;
}

.profile-demographics > .profile-item:first-child > .profile-item-name:first-of-type {
	display: none;
}

.profile-demographics > .profile-item:first-of-type {
	background-color: $primary-color;
	font-family: $primary-font;
	font-weight: bold;
	font-size: 1.75em;
	padding: 20px 25px;
	margin: 0 0 11px;
	border-bottom: none;
	display: block;
}

.profile-item-name {
	padding-left: 12px 
}

.profile-item {
	margin: 10px 10px 10px 10px
}

.profile-divider {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

/* Relationship Box */

.relationship-row {
	display: grid;
	grid-template-columns: 140px auto;
	background-color: $box-background-color;
	border: 2px solid $primary-color;
}

.relationship-icon-container,
.relationship-icon {
	width: 125px;
	height: 125px;
	border-radius: 0;
}

.relationship-name {
	font-family: $secondary-font;
	width: calc(100% - 50px);
	display: inline-grid;
}

/* Other */

.status-message {
	background-color: $primary-color;
	color: $text-color;
}

// TABS

.nav-tabs .nav-link {
	color: $lighter-grey;
	border-radius: 0;
	font-size: 1em;
	text-transform: uppercase;
	border: 1px solid $primary-color;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	background-color: $box-background-color;
}

.nav-tabs .nav-link.active {
	border-top: 2px solid $primary-outline-color;
	background-color: $primary-outline-color;
	color: $text-color;
	border: 0;
	height: calc(100% + 2px);
	font-weight: 600;
}

.nav-item:first-of-type .nav-link.active,
.nav-item:first-of-type .nav-link {
	border-radius: 5px 0 0 0;
}

.nav-item:only-of-type .nav-link.active {
	border-radius: 5px 5px 0 0!important;
}

.nav-item:last-of-type .nav-link.active,
.nav-item:last-of-type .nav-link {
	border-radius: 0 5px 0 0;
}

.tab-content {
	border: 2px solid $primary-outline-color;
	padding: 10px;
	min-height: 50px;
	background: $background-color;
	color: $box-words-color;
}

.nav-tabs .nav-link:focus {
	border-color: transparent;
}

.nav-tabs .nav-link:hover {
	color: $text-color;
	border-color: $primary-color;
	background-color: $primary-color;
}

.nav-tabs>li {
	white-space: nowrap
}

.nav-tabs {
	flex-flow: row;
}

.nav-tabs:not(.--jsfied) {
	overflow-x: auto;
	overflow-y: hidden;
}

.nav-tabs {
	scrollbar-width: thin;
	scrollbar-color: $background-color $primary-outline-color
}

// GALLERIES (Character and Thumbnail)

.card.card-default.profile-gallery {
	border: 1px $almost-black solid;
	background-color: transparent;
}

.profile-gallery,
.thumbnail-gallery {
	justify-content: center;
}

.profile-gallery img,
.thumbnail-gallery-item {
	padding: 2px;
	margin-bottom: 2px;
	width: unset;
	height: 200px;
}

.thumbnail {
	max-width: 100%;
	max-height: 200px;
}

.profile-gallery img:hover,
.thumbnail-gallery-item img:hover {
	transform: scale(1.75);
	transition: all 500ms;
}

// PLAY SCREEN

.play-screen {
	display: grid;
	grid-template-columns: 350px auto;
}

.play-title {
	display: none;
}

.play-hint {
	margin-left: 10px;
	color: $text-color;
	margin-bottom: 5px;
}

.scene-controls-right,
.scene-controls-left {
	padding: 0;
}

.scene-char-select .ember-basic-dropdown-trigger {
	min-width: unset;
}

/* Poses */

.scene-controls-box {
	border: 1px solid $border-color;
	background: $gutter-color !important;
	padding: 5px;
}

.pose-divider {
	border: 1px dotted;
	border-top-color: $box-background-color;
}

.scene-ooc-pose .badge {
	margin: 0.4em 0.5em 0.3em 0em;
}

.bg-ooc {
	background-color: $secondary-color;
}

.scene-ooc-pose p {
	margin-bottom: 4px;
	margin-left: 5px;
	margin-top: 4px;
}

.scene-ooc-pose {
	margin: 0px 0px 10px 6.5px;
}

.scene-pose-header {
	border: 1px none transparent;
	margin-bottom: 0;
	background-color: $darker-grey;
	padding: 0.1em 0.5em 0.1em 0.1em;
	margin-left: 0.5em;
}

.scene-pose-header .btn-link {
	background-color: transparent;
}

.scene-pose-header .btn-link:hover {
	color: $primary-outline-color;
}

#chat-window .scene-pose-header {
	background-color: transparent;
}

#chat-window {
	border: 0;
}

.hint.float-right,
.hint.float-end {
	padding-top: 0.25em;
	padding-right: 0.25em;
	text-align: right;
}

.play-main {
	padding-left: 20px;
}

.play-main h3 {
	margin-top: 2px;
	margin-bottom: 0;
}

.pose-order {
	color: $background-color;
}

.your-pose-order {
	color: $muted-green;
}

#live-scene-log,
#chat-window {
	scrollbar-color: $secondary-color transparent;
	scrollbar-width: thin;
}

/* Scenes */

@media screen and (max-width: 600px) {
	.play-main {
		padding-left: 0px;
	}

	.play-scene-title {
		font-size: 1.2em!important;
		padding-left: 5px;
	}

	.play-scene-context-prompt {
		padding-left: 5px;
	}
}

.play-scene-context {
	margin-top: 0px;
}

.play-scene-context-prompt {
	font-size: 1.1em;
}

.hint--:after,
.hint--:before {
	right: 100%;
	bottom: 50%;
}

@media screen and (min-width: 601px) {
	.chat-controls > .btn-link > .fas {
		visibility: visible;
		font-size: 18px;
		margin-left: 1em;
	}
	.chat-controls > .btn-link {
		visibility: hidden;
		font-size: 0;
		padding: 0;
	}
	.play-main h3 {
		position: absolute;
	}
}

.live-scene-controls > .btn-link:hover,
.chat-controls > .btn-link:hover {
	color: $primary-color;
}

/* Chat */

.chat-controls {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	column-gap: 0.5em;
	margin: 10px 10px 0 10px;
	border-bottom: 1px solid $border-color;
	padding-bottom: 20px;
}

.chat-controls>a:first-child {
	flex: 1 1 auto;
}

.chat-controls>a {
	flex: 0 0 auto;
}

/* Active Scenes & Unshared Scenes */

.scene-privacy-private {
	background-color: #0b5889;
	text-transform: uppercase;
}

.scene-privacy-open {
	background-color: $muted-green;
	text-transform: uppercase;
}

.scene-pacing-traditional {
	background-color: $muted-green;
	text-transform: uppercase;
}

.scene-pacing-distracted {
	background-color: $muted-magenta;
	text-transform: uppercase;
}

.scene-pacing-asynchronous {
	background-color: $muted-blue;
	text-transform: uppercase;
}

.live-scenes-heading,
.unshared-scenes-heading {
	background-color: $primary-color;
}

.live-scenes-entry,
.unshared-scenes-entry {
	border-color: $primary-color;
}

.live-scenes-entry,
.unshared-scene-block {
	display: grid;
	grid-template-columns: auto 140px;
	grid-template-rows: auto;
}

.live-scenes-heading,
.unshared-scene-heading {
	grid-column: span 2 / span 2;
}

.live-scenes-controls {
	padding: 5px 10px;
	text-align: right;
}

.unshared-scene-body {
	grid-column: span 2 / span 2;
}

/* Side Bar */

.play-sidebar {
	background-color: $primary-color;
	height: fit-content;
}

.play-section-title {
	color: $text-color;
	font-variant: none;
	font-weight: 400;
	font-family: $primary-font;
	text-transform: uppercase;
	font-size: 1.5em;
}

.play-section-title .tooltip-button a,
.play-section-title .tooltip-button {
	color: $secondary-color;
}

.play-section-title i {
	font-size: 0.75em;
}

.btn-link.play-selector-active {
	background-color: $background-color;
	color: $text-color;
}

.btn-link.play-selector .bg-primary {
	background-color: $background-color!important;
}

.markdown-editor.card,
.card-body.markdown-editor {
	margin-bottom: 0;
}

.card-body.markdown-editor > .markdown-controls + div {
	height: 200px!important;
}

// LOGS

.pose-divider {
	border: 1px inset $background-color;
}

.scene-log {
	border: 0;
}

.scene-social {
	background-color: $muted-green;
	text-transform: uppercase;
}

.scene-vignette {
	background-color: $muted-purple;
	text-transform: uppercase;
}

.scene-event {
	background-color: $muted-blue;
	text-transform: uppercase;
}

.scene-text {
	background-color: $muted-magenta;
	text-transform: uppercase;
}

.scene-action {
	background-color: $muted-red;
	text-transform: uppercase;
}

.scene-story {
	background-color: $muted-orange;
	text-transform: uppercase;
}

.content-warning-label {
	background-color: $muted-yellow;
}

.badge-likes {
	background-color: $muted-red;
	box-shadow: none;
}

// PLOTS

.table.plots-list {
	border: 0;
}

.plots-list .inline-block {
	margin-left: 5px;
	margin-right: 5px;
}

.table-striped.plots-list > tbody > tr:nth-of-type(even) > * {
	background-color: $background-color;
}

.table-striped.plots-list > tbody > tr:nth-of-type(odd) > * {
	background-color: $background-color;
}

.table-striped.plots-list > tbody > tr:nth-of-type(odd) > *,
.table-striped.plots-list > tbody > tr:nth-of-type(even) > * {
	padding: 5px;
}

.table-striped.plots-list > tbody > tr {
	padding: 0;
}

.plots-list tr {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	margin-bottom: 2em;
}

.plots-list td:first-child {
	flex-basis: 100%;
	font-size: 1.5em;
	font-family: $primary-font;
	background-color: $box-background-color;
	padding-top: 8px!important;
}

.plots-list td:first-child a::after {
	content: "\f101";
	display: inline-block;
	float: right;
	font-family: 'FontAwesome';
	font-weight: bold;
	font-size: 0.7em;
	margin: 5px 3px 0 0;
}

.plots-list td {
	border-bottom: none !important;
	flex: 1 1 255px;
}

.plots-list td:first-of-type {
	background-color: $box-background-color!important;
	border-top: 2px solid $secondary-color;
}

.plots-list th:nth-of-type(3),
.plots-list td:nth-of-type(3) {
	flex: 0 0 250px;
	text-align: right;
	line-height: 29px;
}

.plots-list td:nth-of-type(3)::before {
	content: "\f073";
	font-weight: bold;
	font-family: 'FontAwesome';
	display: inline-block;
	margin-right: 2px;
	color: $secondary-color;
}

.plots-list td:last-child {
	flex-basis: 100%;
	border-bottom: 1px solid $secondary-color!important;
	border-top: 1px inset $primary-outline-color!important;
}

.plots-list thead {
	display: none;
}

.plots-list td:nth-of-type(2)::before {
	content: "\f4ff";
	font-weight: bold;
	font-family: 'FontAwesome';
	display: inline-block;
	margin-right: 2px;
	color: $secondary-color;
}

// TABLES

.table {
	--bs-table-striped-bg: transparent;
	border: 1px solid $secondary-words-color;
}

.table > thead {
	font-family: $secondary-font;
	text-transform: uppercase;
	line-height: 2;
}

th {
	background-color: $border-color;
}

.table th {
	padding: 10px 5px 5px
}

td {
	border-top: 1px solid $darker-grey;
	border-bottom: 0;
}

/* Striped Tables */

.table-striped > tbody > tr:nth-of-type(odd) > *,
.table-striped > tbody > tr:nth-of-type(even) > *,
tr {
	padding: 10px 5px;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
	background-color: $darker-grey;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
	background-color: $darkest-grey;
}

/* Specific Tables */

.notifications-list p,
.mail-list p {
	margin-bottom: 0;
}

// ICONS

.log-icon-title-container {
	background-color: transparent;
	top: -30px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-family: $primary-font;
	font-size: 1.5em;
}

.log-icon-container {
	height: 185px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: $log-icon-color;
	border: 4px solid $log-icon-color;
}

.log-participants-box .icon-gallery {
	justify-content: center;
}

// FS3

.xp-progress-points {
	color: $darkest-grey
}

.xp-ability {
	border-bottom: 0;
	border-top: 1px solid $border-color;
	margin: 0;
	padding: 10px 5px;
}

.fs3-divider {
	visibility: hidden
}

.fs3-skillbutton {
	color: $text-color;
	background-color: $dark-grey;
	width: 30px;
	height: 30px;
}

.fs3-sheet {
	display: grid;
	flex-direction: row;
	gap: 20px;
	justify-content: space-around;
	grid-template-columns: 48% 48%;
}

.fs3-rating-display {
	flex-basis: 40%
}

.combat-specials {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}

.fs3-rating-control {
	display: flex;
	justify-content: space-around
}

.char-dot-empty {
	color: #aaa;
}

.char-ability-title {
	background-color: $gutter-color;
	font-size: 1.5em;
	color: $text-color;
	font-family: $primary-font;
	font-weight: 400;
	padding: 15px 15px 11px;
	margin: 0px;
	border: 0;
}

.fs3-ability-list-action > tr > td:nth-of-type(2) > br {
	display: none;
}

// CARD AND MODAL

.modal-header .btn-close {
	filter: invert(1);
}

.scene-card .tab-content {
	max-height: 27vh;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: $secondary-color transparent;
}

.scene-card a {
	font-size: 0.9em;
}

.scene-card .log-icon-container {
	margin: auto;
}

.scene-card .log-icon-title-container {
	margin: auto;
	left: 0;
}

.card-specialties {
	color: $primary-color;
}

.scene-card-demo {
	font-size: 0.95em;
}

.scene-card-top {
	padding-bottom: 20px;
}

.scene-card > hr {
	display: none;
}

.scene-card-demo > .profile-item-list {
	padding: 0;
	border: 1px solid $almost-black;
}

.scene-card-demo > .profile-demographics > .profile-item:first-of-type {
	padding: 15px 20px;
	display: block;
}

.scene-card-demo > .profile-demographics > .profile-item {
	margin: 1px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.scene-card-profile .char-icon-container {
	height: 200px;
}

.scene-card-profile {
	text-align: center;
}

.alts-switcher > tr > td:nth-of-type(2) {
	text-align: center;
}

.alts-switcher > tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.7);
}

// SCROLLBARS

.ProseMirror::-webkit-scrollbar {
	background-color: transparent;
}

// CARD (GENERAL)

.card {
	border-color: transparent;
	background: transparent;
}

// JOBS AND REQUESTS

.display-job-row {
	padding-left: 20px;
}

.admin-only-reply,
.admin-only-reply .markdown-editor {
	background-color: #cb6a6c;
	border-color: #cb6a6c;
}

.admin-only-reply-label {
	background-color: $muted-red;
	border-color: $background-color;
}

.player-reply,
.player-reply .markdown-editor {
	background-color: #73a4a4;
	border-color: #73a4a4;
	margin-right: 20px;
}

.player-reply-label {
	background-color: $muted-green;
	border-color: $background-color;
}

.inline-response {
	padding-right: 20px;
	border-color: $primary-color;
}

// LOCATIONS

.area-entry {
	border: 1px solid $primary-color;
}

.area-entry h2 {
	padding: 9px 5px 5px;
}

// BUTTONS

.btn {
	text-transform: uppercase;
	font-family: $primary-font;
	font-size: 1.25em;
	padding-bottom: 4px;
	margin-top: 2px;
}

.btn-link {
	background-color: transparent;
}

.btn-primary,
.btn-secondary,
.btn-default {
	background-color: $primary-color;
	border-color: $primary-color;
	color: $text-color;
}

.toastui-editor-defaultUI .toastui-editor-close-button,
.toastui-editor-defaultUI .toastui-editor-ok-button {
	text-transform: uppercase;
	font-family: $primary-font;
	font-size: 1.25em;
	background-color: $secondary-color;
	border-color: $secondary-color;
	color: $secondary-words-color;
}

.toastui-editor-defaultUI .toastui-editor-close-button:hover,
.toastui-editor-defaultUI .toastui-editor-ok-button:hover {
	color: $text-color;
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
	color: $almost-black;
	background-color: $secondary-color;
	border-color: $secondary-color;
	box-shadow: none;
}

// THEME BOX
.box {
	background: $background-color;
	margin: 10px;
	padding: 12px;
	display: flex;
	flex-flow: row;
	align-items: stretch;
	justify-content: flex-end;
}

.boxinfo-tab > div > .tab-content,
.boxinfo-tab-sm > div > .tab-content {
	background: $box-background-color;
}

.boxinfo-tab > div,
.boxinfo-tab-sm > div,
.boxinfo-tab > div > .tab-content,
.boxinfo-tab-sm > div > .tab-content {
	min-height: calc(100% - 15px);
	height: calc(100% - 15px);
}

.boxinfo {
	margin-top: 3px;
}

.boxinfo-tab {
	flex-basis: 70%;
	padding: 0;
}

.boxinfo-tab-sm {
	flex-basis: 85%;
	padding: 0;
}

.box a,
.advantage-box a {
	color: $muted-teal;
}

.box a:hover,
.advantage-box a:hover {
	color: $muted-teal;
}

.boxpic {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	flex-basis: 30%;
	padding: 0 10px 0 0;
}

.boxpic-sm {
	padding: 0 10px 0 0;
	flex-basis: 15%;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
	padding: 0 10px 0 0;
}

.boxpic img,
.boxpic-sm img {
	width: 100%;
	border: 2px solid $border-color;
	margin-top: 3px;
	border-radius: 5px;
}

.boxpic p
.boxpic-sm p {
	margin: 0;
	line-height: 0;
	padding: 0
}

.boxpic .image-container
.boxpic-sm .image-container {
	padding: 0;
	margin-top: -17px
}

.box-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: 2px solid $text-color;
	margin-right: 4px
}

.box-title {
	flex-basis: 60%
}

.box-title h2,
.box-title .h2 {
	font-size: calc(14px + 0.4vw) !important;
	margin-bottom: 0;
	margin-top: 0.15em;
	padding-top: 0;
	line-height: 1.1
}

.box-header p {
	margin-bottom: 5px
}

.box-type {
	flex-basis: 40%;
	text-align: right;
	font-family: $secondary-font;
	font-size: calc(14px + 0.4vw);
}

.box .tab-content {
	box-shadow: none;
	border: 0;
	border-top: 1px solid $secondary-color;
}

.box .nav-tabs > li > a {
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: none;
	line-height: 1;
	padding-bottom: 0.25em
}

@media screen and (max-width: 1080px) {
	.box {
		flex-flow: column;
	}
	.boxpic, 
	.boxpic-sm {
		flex-basis: auto;
		width: 100%;
		margin-bottom: 5px;
	}
	.boxpic img,
	.boxpic-sm img {
		max-width: 400px;
	}
	.boxinfo-tab {
		flex-basis: auto;
	}
}

// GRID FLEXIBILITY

@media screen and (max-width: 560px) {
	.scene-card-top {
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 1130px) {
	.profile-wrap {
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 1079px) {
	.play-screen {
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 1000px) {
	.body-wrap,
	.fs3-sheet {
		grid-template-columns: 100%;
	}
}
