@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vibur&display=swap');

$body-font: "Open Sans", serif;
$primary-font: "Bebas Neue", Impact, serif;
$secondary-font: "Lexend", serif;
